*{
	font-family: 'Poppins', sans-serif;
}

html{
  position:relative; 
  min-height: 100%;
}

body {
	text-align: center;
	background-color: #000000;
	font-size: 22px;
	
	font-weight: 700;
	padding:0;
	margin:0;
	min-height:100vh;
	color:white;
}

a{
	color:white;
}

#hidden{
	display:none;
}

.row-display .card-img-top {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6{
	color:white;
}

.main-logo{
	margin-top:3%;
	width:10%;
}

.main-logo-sidebar{
	width:10%;
	
}

#bottomdiv{
	position: absolute;
	bottom: 50px;
}

.col-display{
	display:flex;
	flex-direction:column;
}

.row-display{
	display:flex;
	flex-direction:row;
}

.row-displayz{
	display:flex;
	flex-direction:row;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal img {
  max-width: 100%;
  max-height: 100%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.block5{
	width:5%;
	margin-left:auto;
	margin-right:auto;
}
.block10{
	width:10%;
	margin-left:auto;
	margin-right:auto;
}

.block15{
	width:15%;
	margin-left:auto;
	margin-right:auto;
}

.block20{
	width:20%;
	margin-left:auto;
	margin-right:auto;
}

.block25{
	width:25%;
	margin-left:auto;
	margin-right:auto;
}
.block30{
	width:30%;
	margin-left:auto;
	margin-right:auto;
}
.block35{
	width:35%;
	margin-left:auto;
	margin-right:auto;
}
.block40{
	width:40%;
	margin-left:auto;
	margin-right:auto;
}
.block45{
	width:45%;
	margin-left:auto;
	margin-right:auto;
}
.block50{
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

.block55{
	width:55%;
	margin-left:auto;
	margin-right:auto;
}
.block60{
	width:60%;
	margin-left:auto;
	margin-right:auto;
}

.block65{
	width:65%;
	margin-left:auto;
	margin-right:auto;
}
.block70{
	width:70%;
	margin-left:auto;
	margin-right:auto;
}
.block75{
	width:75%;
	margin-left:auto;
	margin-right:auto;
}
.block80{
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

.block85{
	width:85%;
	margin-left:auto;
	margin-right:auto;
}
.block90{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.block95{
	width:95%;
	margin-left:auto;
	margin-right:auto;
}
.block100{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.main-block{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	flex-direction:row;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  text-align:center;
  text-decoration: none;
  font-size: 200%;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 300%;
  margin-left: 50px;
}

#main {
}

.rounded-border{
	border: solid white 2px;
	border-radius:16px;
	padding:2%;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

.rounded-border-gal{
	border: solid white 2px;
	border-radius:16px;
	padding:2%;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	height:fit-content;
}


.rounded-border-gallery{
	border: solid white 2px;
	border-radius:16px;
	padding:2%;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

.galleryartwork{
	width:40%;
	height:auto;
}

.input-base{
	padding:2%;
	font-size:115%;
	width:100%;
	color:black;
	border-radius:16px;
	border:0;
	margin-bottom:3%;
	font-weight:700;
}

.input-base-ciaadmin{
	padding:2%;
	font-size:115%;
	width:20%;
	color:black;
	border-radius:16px;
	border:0;
	margin-bottom:3%;
	font-weight:700;
}

.button-base{
	width:50%;
	padding:2%;
	font-size:115%;
	background-color:transparent;
	border:solid white 2px;
	border-radius:16px;
	min-height:8vh;
	margin-left:auto;
	margin-right:auto;
}

.button-base-admin{
	width:100%;
	padding:2%;
	font-size:115%;
	background-color:transparent;
	border:solid white 2px;
	border-radius:16px;
	min-height:8vh;
	margin-left:auto;
	margin-right:auto;
}

.title-aligned-center{
	border-bottom:solid white 2px;
}

#bot{
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
}

.wrap{
	text-align:justify;
}

.is-hidden{
	display:none!important;
}

#is-hidden{
	display:none!important;
}

#sideways{
	display:flex;
	flex-direction:row;
}

.button-cia{
	width:90%;
	background-color:transparent;
	border:solid white 2px;
	border-radius:16px;
	margin-left:auto;
	margin-right:auto;
}

.button-cia-100{
	width:100%;
	background-color:transparent;
	border:solid white 2px;
	border-radius:16px;
}

.input-base-cia{
	padding:2%;
	font-size:115%;
	width:90%;
	color:black;
	border-radius:16px;
	border:0;
	margin-bottom:3%;
	font-weight:700;
	margin-left:auto;
	margin-right:auto;
}

.input-base-cia-95{
	padding:2%;
	font-size:115%;
	width:95%;
	color:black;
	border-radius:16px;
	border:0;
	margin-bottom:3%;
	font-weight:700;
	margin-left:auto;
	margin-right:auto;
}

#hover:hover{
	background-color:#191919;
	color:black;
	border-radius:16px;
}

#hover{
	transition: transform .2s;
}

#imageholder{
	object-fit:cover;
	max-width:90%;
	
}

.profilepic{
	width:100%;
	height:75%;
	border:solid white 2px;
	border-radius:500px;
}

.button-now{
	width:95%;
	min-height:8vh;
	margin-left:auto;
	margin-right:auto;
	color:white;
	background-color:transparent;
	border:solid white 2px;
	border-radius:16px;
}

.social-icons{
	width:30%;
}

#socials{
	margin-top:3%;
}

#menudiv{
	line-height:12vh;
}

#inverted{
	filter: invert(100%);
}

#lmenudiv{
	text-align:left;
	align-items: left; 
}

#rmenudiv{
	text-align:right;
	padding-right:5%;
}

.logo-top{
		margin-left:10%;
		width:18%;
		
}

.splide__slide img {
  width: 40%;
  height: auto;
  object-fit: cover;
}

.splide__slide {
  opacity: 0.6;
}

#splide_list_thumb{
	justify-content:center;
}

.splide__slide.is-active {
  opacity: 1;
}

.splide__list{
	align-items:center;
}	

.splide{text-align:center;}

.topdiv{
	margin-top:3%;
	z-index:9999;
}

#justified-center{
	justify-content:center;
}

#justified-left{
	justify-content:left;
	display:flex;
}

#justified-right{
	justify-content:right;
	display:flex;
}

#mobile-image{
	margin-left:100%;
	margin-right:100%;
}

#mobile-set{
	width:80%; 
	margin-bottom:2%; 
	border-bottom:solid white 2px; 
	justify-content:center;
}

#title-mobile{
	margin-bottom:2%;
}

.web-slideshow10{
	width:10%!important;
	height:auto;!important;
}
.web-slideshow20{
	width:20%!important;
	height:auto;!important;
}
.web-slideshow30{
	width:30%!important;
	height:auto;!important;
}
.web-slideshow40{
	width:40%!important;
	height:auto;!important;
}
.web-slideshow50{
	width:50%!important;
	height:auto;!important;
}
.web-slideshow60{
	width:60%!important;
	height:auto;!important;
}
.web-slideshow70{
	width:70%!important;
	height:auto;!important;
}
.web-slideshow80{
	width:80%!important;
	height:auto;!important;
}
.web-slideshow90{
	width:90%!important;
	height:auto;!important;
}
.web-slideshow100{
	width:100%!important;
	height:auto;!important;
}

#mobile-slideshowa{
	width:50%;
}

#mobile-slideshowb{
	width:70%;
}

#small-img-admin{
	height:300px; 
	width:auto;
}

#slide-imges{
	width:500px;
	height:auto;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px; 
  z-index: 99;
  border: none;
  outline: none; 
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 16px;
  font-size: 18px;
  font-weight:900;
}

#myBtn:hover {
  background-color: gray;
}

::-webkit-scrollbar {
  width: 20px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 16px;
  
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 16px;
  background:gray;
}

.web-sized{
	height:150px;
	width:auto;
	margin-right:5%!important;
}
#mobile-sized{
	height:60px;
	width:auto;
	margin-right:3%!important;
}

.legal-text{
	line-height:4vh;
}

#hamburguer{
	font-size:250%;
	cursor:pointer;
}

@media only screen and (min-width: 100px) and (max-width: 600px) {

	#bot{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height:100px;
	}

	
	.sidenav grote{
		font-size:300%;
		line-height:10vh;
	}

	#notgrote{
		line-height:1vh;
	}
	
	.closebtn {
	  line-height:5vh;
	}

	.button-base{
		width:50%;
		padding:2%;
		font-size:115%;
		background-color:transparent;
		border:solid white 2px;
		border-radius:16px;
		min-height:4vh;
		margin-left:auto;
		margin-right:auto;
	}

	.sidenav a{
		font-size: 250%;
	}
	
	#sideways{
		display:flex;
		flex-direction:column;
	}
	
	#mobilegrote{
		width:100%;
	}
	
	#mobilegrote-admin{
		width:90%;
		margin-bottom:3%;
	}
	
	#imageholderprofile{
		object-fit:cover;
	
		width:100px;
		height:50%;
	}

	.profilepic{
		
		border:solid white 2px;
		border-radius:500px;
	}
	
	#spaced{
		padding-left:5%;
		padding-top:5%;
	}
	
	.main-logo{
		margin-top:3%;
		width:40%;
	}
	
	.main-logo-sidebar{
		width:50%;
		
	}
	
	.sidenav .closebtn {
	  position: absolute;
	  top: 0;
	  right: 25px;
	  font-size: 300%;
	  margin-left: 50px;
	  margin-top:7%;
	}
	
	.mobile-link{
		text-decoration:none;
	}
	
	#lmenudiv{
		text-align:left;
		align-items: left; 
	}

	#rmenudiv{
		text-align:right;
		padding-right:7%;
	}

	.logo-top{
			margin-left:20%;
			width:60%;
			
	}
	
	.topdiv{
		margin-top:5%;
		z-index:9999;
	}

	.splide__slide img {
	  width: 70%;
	  height: auto;
	  object-fit: cover;
	}

	#justified-center{
		justify-content:center;
	}

	#mobile-image{
		width:70%;
		margin:0;
	}

	#mobile-set{
		width:90%; 
		margin-bottom:5%; 
		border-bottom:solid white 2px; 
		justify-content:center;
		
	}
	
	#title-mobile{
		margin:0;
	}
	
	#mobile-slideshowa{
		width:90%;
	}
	
	#mobile-slideshowb{
		width:100%;
	}

	#slide-imges{
		width:200px;
		height:auto;
	}
	
	#small-img-admin{
		width:60%;
	}
	
	#mobile-slideshow10{
		width:10%;
		height:auto;
	}
	#mobile-slideshow20{
		width:20%;
		height:auto;
	}
	#mobile-slideshow30{
		width:30%;
		height:auto;
	}
	#mobile-slideshow40{
		width:40%;
		height:auto;
	}
	#mobile-slideshow50{
		width:50%;
		height:auto;
	}
	#mobile-slideshow60{
		width:60%;
		height:auto;
	}
	#mobile-slideshow70{
		width:70%;
		height:auto;
	}
	#mobile-slideshow80{
		width:80%;
		height:auto;
	}
	#mobile-slideshow90{
		width:90%;
		height:auto;
	}
	#mobile-slideshow100{
		width:100%;
		height:auto;
	}
	
	.legal-text{
		line-height:5vh;
	}
	
	#small-img-admin{
		height:100px; 
		width:auto;
	}
	
	.mobile-title{
		font-size:145%;
	}
	
	#hamburguer{
		font-size:200%;
		cursor:pointer;
	}
	
	.social-icons{
		width:20%;
	}
	
	.galleryartwork{
		width:100%;
		height:auto;
	}
}
