<!DOCTYPE html>
<html>
<head>
	
	<link rel="icon" type="image/x-icon" href="/images/fireemoji2.ico">
	<title>About</title>
	<link rel="stylesheet" href="./css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/menu.js"></script>
	<script>
	
	
	
	</script>
</head>

<body>

<%- include("../helpers/top") %>
<h1>STEVES ART</h1><h3>" The Artist "</h3>

<div class="main-block">
	<div class="rounded-border" id="mobileframe">
	<div class="col-display">
		<div class="row-display">
			
			<div class="block80">
				<h1 class="title-aligned-left">Steve</h1>
				<h2> Met een tekenachtergrond van 10+ jaar </h2>
			</div>
		</div>
	</div>
	<div class="wrap">
	<span>
	Even wat meer over mezelf…<br><br>
Ik ben Vanhemelryck Steve en al meer dan 15 jaar bezig met kunst.<br><br>
Of het nu een tekening, een schilderij of een tattoo is, ik doe het allemaal even graag!<br><br>
Het is ooit begonnen met een boek over airbrush waar ik zo een fantastische werken zag dat
ik dacht het foto’s waren. Ik was overdonderd door wat ik allemaal zag en kon maar niet
geloven wat sommige mensen maakten en dacht…… dit wil ik ook kunnen!!!<br><br>
Vanaf toen was de artistieke microbe geboren en heeft de drang om zelf kunst te creëren
nooit meer losgelaten.<br><br>
Over de jaren heen heb ik mezelf leren ontdekken op artistiek vlak en heb ik gemerkt dat
mijn voorkeur vooral naar portretten en realisme gericht is.<br><br>
Dit zie je waarschijnlijk ook wel terug in mijn werken maar daar stopt het niet voor mij, gaandeweg probeer ik mezelf nog altijd naar een hoger
niveau te tillen en de nodige challenges aan te pakken om toch maar verder te groeien als
artistiek persoon.<br><br>
Ondertussen zijn we 15 jaar verder heb ik reeds meer dan 5 jaar mijn tattooshop waar ik al
deze kwaliteiten probeer te combineren en ervoor te zorgen dat ik jou/mijn klanten iets
uniek kan aanbieden waar we beiden fier op zijn.<br><br>
Vaste klanten weten het wel ondertussen dus Ik hoop dat ik jou ook ooit eens mag
verwelkomen in mijn shop en voor jou aan de slag mag gaan!!<br><br>

Getekend,<br>
STEVE<br>
De Zaakvoerder</div>
	</div>
</div>
<br><br>
<div class="block100" style="display:flex; justify-content:center;">
	<div class="row-display" id="mobile-set">
		<div class="block"><h2 id="title-mobile">Mijn Sociale Media:</h2></div>
	</div>
</div>
<div class="main-block">
<div class="rounded-borderr">
	<div class="col-display" id="sideways">
		<div class="block30" id="mobilegrote">
			<div id="hover">
				<div class="col-display">
					<div class="block100" id="socials">
						<a href="https://www.facebook.com/people/Creative-art-and-ink/100057428500033/"><img src="images/facebook.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
					</div>
					<div class="block100">
						<a class="mobile-link" href="https://www.facebook.com/people/Creative-art-and-ink/100057428500033/"><h3>Facebook</h3></a>
					</div>
				</div>
			</div>
		</div>
		<br>
		
		<div class="block30" id="mobilegrote">
			<div id="hover">
				<div class="col-display">
					<div class="block100" id="socials">
						<a href="https://www.instagram.com/creativeartandinkbe/"><img src="images/instagram.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
					</div><div class="block100">
						<a class="mobile-link" href="https://www.instagram.com/creativeartandinkbe/"><h3>Tattoos</h3></a>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="block30" id="mobilegrote">
			<div id="hover">
				<div class="col-display">
					<div class="block100" id="socials">
						<a href="https://www.instagram.com/wavewatcher_be/"><img src="images/instagram2.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
					</div><div class="block100">
						<a class="mobile-link" href="https://www.instagram.com/wavewatcher_be/"><h3>Drawings & Paintings</h3></a>
					</div>
				</div>
			</div>		
		</div>		
	</div>
</div>
</div>
<br><br>
<h1>Onze Locatie</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1249.9066385742435!2d2.8627521531081923!3d51.20409221382027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dca58bad270be7%3A0xe319b5d455665b15!2sCREATIVE%20ART%20AND%20INK!5e0!3m2!1sen!2sbe!4v1676067450687!5m2!1sen!2sbe" width="95%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br><br>
<div class="main-block"><div class="block100">
<a href="/contact"><button class="button-now" id="hover"><h2>Contact Now</h2></button></a>
</div>
</div><br><br>
<%- include("../helpers/bottom") %>

</body>
</html> 
