<!DOCTYPE html>
<html>
<head>
	
	<link rel="icon" type="image/x-icon" href="/images/fireemoji2.ico">
	<title>About</title>
	<link rel="stylesheet" href="./css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/menu.js"></script>

</head>

<body>

<%- include("../helpers/top") %>

<br>
<h1>STEVES ART</h1><h3>" The Artist "</h3>

<div class="main-block">
	<div class="rounded-border" id="mobileframe">
	<div class="col-display">
		<div class="row-display">
			
			<div class="block80">
				<h1 class="title-aligned-left">Steve</h1>
				<h4> Met een tekenachtergrond van 10+ jaar </h4>
			</div>
		</div>
	</div>
	<div class="wrap">
	<span>
	Welkom bij Steves Art Shop, waar ik, Steve, een bekwame tatoeëerder, mijn diensten aanbied om unieke en betekenisvolle tatoeages te creëren. <br><br> Ik ben trots op het leveren van werk van hoge kwaliteit aan elke klant en ik geloof dat elke tatoeage speciaal en persoonlijk moet zijn, dus ik neem de tijd om naar je ideeën te luisteren en met je samen te werken om een ontwerp te creëren dat jou echt vertegenwoordigt.<br><br>
	Mijn doel is niet alleen om aan je verwachtingen te voldoen, maar ze zelfs te overtreffen, zodat je mijn studio verlaat met een tatoeage waar je jarenlang plezier van zult hebben.

Uw veiligheid is mijn topprioriteit en ik besteed veel zorg aan het handhaven van een schone en steriele omgeving. <br><br>Ik volg alle standaardprocedures in de industrie om ervoor te zorgen dat uw tattoo-ervaring veilig en comfortabel is.

Als je op zoek bent naar een tattoo-artiest die echt om zijn vak geeft, kom dan langs in Oostende en laten we samen iets moois creëren.</span>
	</div>
	</div>
</div>
<br><br>
<h1>Onze Locatie</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1249.9066385742435!2d2.8627521531081923!3d51.20409221382027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dca58bad270be7%3A0xe319b5d455665b15!2sCREATIVE%20ART%20AND%20INK!5e0!3m2!1sen!2sbe!4v1676067450687!5m2!1sen!2sbe" width="90%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br><br>
<div class="main-block"><div class="block100">
<a href="/contact"><button class="button-now" id="hover"><h2>Contact Now</h2></button></a>
</div>
</div><br><br>
<%- include("../helpers/bottom") %>

</body>
</html> 
