<!DOCTYPE html>
<html>
<head>
	
	<link rel="icon" type="image/x-icon" href="/images/fireemoji2.ico">
	<title>Contact</title>
	<link rel="stylesheet" href="./css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/menu.js"></script>

</head>

<body>

<%- include("../helpers/top") %>

	<% if (success) { %>
		<% if (success != "") { %>
			<div class="flash success"><h1><span style="color:lightgreen;"><%= success %></span></h1></div>
		<% } else if (success === "") { %>
			<div class="flash error"><%= "" %></div>
		<% } %>
	<% } %>

<h1>STEVES ART</h1><br>
<h2>Hoe te contacteren:</h2>

<div class="main-block">
	<div class="rounded-border" style="padding:0;">
		<div class="col-display" id="sideways">
			<div class="block30" id="mobilegrote">
			<div class="col-display">
				<div class="row-display">
					<div class="block100"><h2 class="title-aligned-center">Telephone:</h2></div>

				</div>
				<div class="row-display" id="justified-center">
					<a href="tel:+320496171611"><span>0496 17 16 11</span></a>
				</div>
			</div>
			</div>
			<br>
			
			<div class="block30" id="mobilegrote">
			<div class="col-display">
				<div class="row-display">
					<div class="block100"><h2 class="title-aligned-center">Email:</h2></div>

				</div>
				<div class="row-display" id="justified-center">
					<a href="mailto:artandink.be@gmail.com"><span>artandink.be@gmail.com</span></a>
				</div>
			</div>
			</div>
			<br>
			<div class="block30" id="mobilegrote">
			<div class="col-display">
				<div class="row-display">
					<div class="block100"><h2 class="title-aligned-center">Contact Form:</h2></div>

				</div>
				<div class="row-display" id="justified-center">
				
					<div class="block80"><a href="#contactform"><button class="button-cia" id="hover" style="margin-bottom:3%;"><h3>Contact</h3></button></a></div>
					
				</div>
			</div>
			</div>
			
		</div>
	</div>
</div>

<br><br>
<h3>Mijn Social Midia:</h3>

<div class="main-block">
<div class="rounded-border">
	<div class="col-display" id="sideways">
		<div class="block30" id="mobilegrote">
			<div class="col-display">
				<div class="block100" id="socials">
					<a href="https://www.facebook.com/people/Creative-art-and-ink/100057428500033/"><img src="images/facebook.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
				</div>
				<div class="block100">
					<a class="mobile-link" href="https://www.facebook.com/people/Creative-art-and-ink/100057428500033/"><h3>Facebook</h3></a>
				</div>
			</div>
		</div>
		<br>
		
		<div class="block30" id="mobilegrote">
			<div class="col-display">
				<div class="block100" id="socials">
					<a href="https://www.instagram.com/creativeartandinkbe/"><img src="images/instagram.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
				</div><div class="block100">
					<a class="mobile-link" href="https://www.instagram.com/creativeartandinkbe/"><h3>Tattoos</h3></a>
				</div>
			</div>
		</div>
		<br>
		<div class="block30" id="mobilegrote">
			<div class="col-display">
				<div class="block100" id="socials">
					<a href="https://www.instagram.com/wavewatcher_be/"><img src="images/instagram2.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
				</div><div class="block100">
					<a class="mobile-link" href="https://www.instagram.com/wavewatcher_be/"><h3>Drawings & Paintings</h3></a>
				</div>
			</div>
		</div>		
	</div>
</div>
</div>
<br><br>

<%- include("../helpers/bottom") %>

</body>
</html> 
