<!DOCTYPE html>
<html>
<head>
	
	<link rel="icon" type="image/x-icon" href="/images/fireemoji2.ico">
	<title>Contact</title>
	<link rel="stylesheet" href="./css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/menu.js"></script>

</head>

<body>

<%- include("../helpers/top") %>

	<% if (success) { %>
		<% if (success != "") { %>
			<div class="flash success"><h1><span style="color:lightgreen;"><%= success %></span></h1></div>
		<% } else if (success === "") { %>
			<div class="flash error"><%= "" %></div>
		<% } %>
	<% } %>

<h1>Creative Art and Ink</h1>
<h3>Oostende</h3><br>
<h2>Hoe te contacteren:</h2>

<div class="main-block">
	<div class="rounded-border" style="padding:0;">
		<div class="col-display" id="sideways">
			<div class="block30" id="mobilegrote">
			<div class="col-display">
				<div class="row-display">
					<div class="block100"><h2 class="title-aligned-center">Telephone:</h2></div>

				</div>
				<div class="row-display" id="justified-center">
					<a href="tel:+320496171611"><span>0496 17 16 11</span></a>
				</div>
			</div>
			</div>
			<br>
			
			<div class="block30" id="mobilegrote">
			<div class="col-display">
				<div class="row-display">
					<div class="block100"><h2 class="title-aligned-center">Email:</h2></div>

				</div>
				<div class="row-display" id="justified-center">
					<a href="mailto:artandink.be@gmail.com"><span>artandink.be@gmail.com</span></a>
				</div>
			</div>
			</div>
			<br>
			<div class="block30" id="mobilegrote">
			<div class="col-display">
				<div class="row-display">
					<div class="block100"><h2 class="title-aligned-center">Contact Form:</h2></div>

				</div>
				<div class="row-display" id="justified-center">
				
					<div class="block80"><a href="#contactform"><button class="button-cia" id="hover" style="margin-bottom:3%;"><h3>Contact</h3></button></a></div>
					
				</div>
			</div>
			</div>
			
		</div>
	</div>
</div>
<br><br>
<h1 id="contactform">Contact Form</h1>
<div class="main-block">
<div class="rounded-border">
<form action="/contactartist" method="POST">
	<div class="col-display">
		<div class="block100"></div>
		<div class="row-display">
			<div class="block50"><h2 class="title-aligned-center">Naam:</h2></div>
			<div class="block50"><h2 class="title-aligned-center">Email:</h2></div>
		</div>
		<div class="row-display">
			<div class="block50"><input type="text" name="clientname" placeholder="Naam" class="input-base-cia"></input></div>
			<div class="block50"><input type="text" name="clientemail" placeholder="Email" class="input-base-cia"></input></div>
		</div>
		<div class="block100">
			<h2 class="title-aligned-center">Stel Uw Vraag:</h2>
		</div>
		<div class="block100">
			<textarea name="clientmessage" class="input-base-cia-95" style="height:30vh;" placeholder="Hallo, mijn naam is Steve! Hoe kan ik u helpen? Voor info stel uw vraag en wees zo compleet mogelijk! Ik antwoord zo snel als ik kan."></textarea>
		</div>
		<div class="block100">
			<button type="submit" class="button-cia-100" id="hover"><h2>Submit</h2></button>
		</div>
	</div>
</form>
</div>
</div>
<br><br>
<div class="block100" style="display:flex; justify-content:center;">
	<div class="row-display" id="mobile-set">
		<div class="block"><h2 id="title-mobile">Mijn Sociale Media:</h2></div>
	</div>
</div>
<div class="main-block">
<div class="rounded-borderr">
	<div class="col-display" id="sideways">
		<div class="block30" id="mobilegrote">
			<div id="hover">
				<div class="col-display">
					<div class="block100" id="socials">
						<a href="https://www.facebook.com/people/Creative-art-and-ink/100057428500033/"><img src="images/facebook.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
					</div>
					<div class="block100">
						<a class="mobile-link" href="https://www.facebook.com/people/Creative-art-and-ink/100057428500033/"><h3>Facebook</h3></a>
					</div>
				</div>
			</div>
		</div>
		<br>
		
		<div class="block30" id="mobilegrote">
			<div id="hover">
				<div class="col-display">
					<div class="block100" id="socials">
						<a href="https://www.instagram.com/creativeartandinkbe/"><img src="images/instagram.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
					</div><div class="block100">
						<a class="mobile-link" href="https://www.instagram.com/creativeartandinkbe/"><h3>Tattoos</h3></a>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="block30" id="mobilegrote">
			<div id="hover">
				<div class="col-display">
					<div class="block100" id="socials">
						<a href="https://www.instagram.com/wavewatcher_be/"><img src="images/instagram2.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
					</div><div class="block100">
						<a class="mobile-link" href="https://www.instagram.com/wavewatcher_be/"><h3>Drawings & Paintings</h3></a>
					</div>
				</div>
			</div>		
		</div>		
	</div>
</div>
</div>
<br><br>
<div class="block100">
	<div class="row-display" style="display:flex; justify-content:center;">
		<div class="block90">
		<div class="rounded-border" id="hover" style="padding-left:0;padding-right:0; color:white">
			<div class="col-display" style="text-align:center">
				<div class="block100">
					<div class="col-display">
							<h1>Creative Art & Ink</h1>
							<span class="legal-text">Nieuwpoortsesteenweg 917</span>
							<span class="legal-text">8400 Oostende</span>
							<span class="legal-text">Belgie</span>
							<span class="legal-text"><a href="tel:0496 17 16 11">0496 17 16 11</a></span>
							<span class="legal-text"><a href="mailto:artandink.be@gmail.com">artandink.be@gmail.com</a></span>
							<span class="legal-text">Rek Nr: BE11 7360 4844 9948</span>
							<span class="legal-text">BTW Nr: BE 0700 592 891</span>
						</ul>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>


</div>
<br>
<%- include("../helpers/bottom") %>

</body>
</html> 
