<!DOCTYPE html>
<html>
<head>
	
	<link rel="icon" type="image/x-icon" href="/images/fireemoji2.ico">
	<title>Steves Art</title>
	<link rel="stylesheet" href="./css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script>
	
	function openNav() {
	  document.getElementById("mySidenav").style.width = "70%";
	  
	  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
	}

	function closeNav() {
	  document.getElementById("mySidenav").style.width = "0";
	 
	  document.body.style.backgroundColor = "black";
	}
	
	</script>

</head>

<body>

<%- include("../helpers/top") %>
<div class="block100"><img src="images/LogomainTFT.png" title="ProvidedByIllimited&Co" class="main-logo"></img>

<br>
<h1>STEVES ART</h1><h3>" YOUR ARTSHOP ! "</h3>

<div class="main-block">
	<div class="rounded-border"><div class="wrap">
	<span>
	HIER BIJ STEVES ART SHOP GA IK SAMEN MET U OP ZOEK NAAR HET KUNSTWERK DAT VOLDOET AAN UW VRAAG.<br><br>
OF HET NU GETEKEND, GESCHILDERD OF GETATOEERD MOET WORDEN, HIER KAN HET ALLEMAAL EN IK MAAK GRAAG EEN AFSPRAAK MET U OM JE IDEE TE BESPREKEN.<br><br>
AANGAANDE EEN TATTOO EN OM U HET BEST TE KUNNEN BEDIENEN EN HET MINST GESTOORD TE WORDEN TERWIJL IK KLANTEN TATOEER WORD ER GEVRAAGD LIEFST EEN -MAIL- TE STUREN MET JE VRAAG. UW VRAAG WORD ZO SNEL ALS MOGELIJK BEHANDELD.<br>
	</span>
	</div>
	</div>
</div>
<br><br>
<h1>Onze Locatie</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1249.9066385742435!2d2.8627521531081923!3d51.20409221382027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dca58bad270be7%3A0xe319b5d455665b15!2sCREATIVE%20ART%20AND%20INK!5e0!3m2!1sen!2sbe!4v1676067450687!5m2!1sen!2sbe" width="90%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br><br>
<h1>Contact Shop</h1>
<div class="main-block" id="contactform">
<div class="rounded-border">
<form action="/contactartist" method="POST">
	<div class="col-display">
		<div class="block100"></div>
		<div class="row-display">
			<div class="block50"><h2 class="title-aligned-center">Naam:</h2></div>
			<div class="block50"><h2 class="title-aligned-center">Email:</h2></div>
		</div>
		<div class="row-display">
			<div class="block50"><input type="text" name="clientname" placeholder="Naam" class="input-base-cia"></input></div>
			<div class="block50"><input type="text" name="clientemail" placeholder="Email Address" class="input-base-cia"></input></div>
		</div>
		<div class="block100">
			<h2 class="title-aligned-center">Stel Uw Vraag:</h2>
		</div>
		<div class="block100">
			<textarea name="clientmessage" class="input-base-cia-95" style="height:30vh;" placeholder="Hallo, mijn naam is Steve! Hoe kan ik u helpen? Voor info stel uw vraag en wees zo compleet mogelijk! Ik antwoord zo snel als ik kan."></textarea>
		</div>
		<div class="block100">
			<button type="submit" class="button-cia-100" id="hover"><h2>Submit</h2></button>
		</div>
	</div>
</form>
</div>
</div>
<br><br>
<%- include("../helpers/bottom") %>

</body>
</html> 