<!DOCTYPE html>
<html>
<head>
	
	<link rel="icon" type="image/x-icon" href="/images/fireemoji2.ico">
	<title>Steves Art</title>
	<link rel="stylesheet" href="./css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src="js/menu.js"></script>
	<link rel="stylesheet" href="css/splide.min.css">
	<script src="js/splide.min.js"></script>
	<script src="js/splide-extension-auto-scroll.min.js"></script>
	<script>
	document.addEventListener( 'DOMContentLoaded', function () {
	  var main = new Splide( '#main-carousel', {		
		type      : 'loop',
		rewind    : true,
		pagination: false,
		arrows    : false,
	  drag   : 'free',
	  focus  : 'center',
	  perPage: 1.5,
	  autoStart:true,
	  autoScroll: {
		speed: 2.5,
	  },
	  } );

	  var thumbnails = new Splide( '#thumbnail-carousel', {
		fixedWidth  : 150,
		fixedHeight : 150,
		gap         : 5,
		rewind      : true,
		pagination  : false,
		isNavigation: true,
		breakpoints : {
		  600: {
			fixedWidth : 75,
			fixedHeight: 75,
			gap:1,
		  },
		},
	  } );

	  main.sync( thumbnails );
	  main.mount(window.splide.Extensions);
	  thumbnails.mount();
	} );
	</script>
	
</head>

<body>

<%- include("../helpers/top") %>


<br>
<h1>STEVES ART</h1><h3>" YOUR ARTSHOP ! "</h3>

<div class="main-block">
	<div class="rounded-border"><div class="wrap">
	<span>
	HIER BIJ STEVES ART SHOP GA IK SAMEN MET U OP ZOEK NAAR HET KUNSTWERK DAT VOLDOET AAN UW VRAAG.<br><br>
OF HET NU GETEKEND, GESCHILDERD OF GETATOEERD MOET WORDEN, HIER KAN HET ALLEMAAL EN IK MAAK GRAAG EEN AFSPRAAK MET U OM JE IDEE TE BESPREKEN.<br><br>
AANGAANDE EEN TATTOO EN OM U HET BEST TE KUNNEN BEDIENEN EN HET MINST GESTOORD TE WORDEN TERWIJL IK KLANTEN TATOEER WORD ER GEVRAAGD LIEFST EEN -MAIL- TE STUREN MET JE VRAAG. UW VRAAG WORD ZO SNEL ALS MOGELIJK BEHANDELD.<br>
	</span>
	</div>
	</div>
</div><br><br>
<section id="main-carousel" class="splide" aria-label="Beautiful Images">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
				<img src="images/slideshow1.jpeg" alt="">
			</li>
			<li class="splide__slide">
				<img src="images/slideshow2.jpg" alt="">
			</li>
			<li class="splide__slide">
				<img src="images/slideshow3.jpg" alt="">
			</li>
			<li class="splide__slide">
				<img src="images/slideshow4.jpg" alt="">
			</li>
		</ul>
  </div>
</section>
<br>
<section
  id="thumbnail-carousel"
  class="splide"
  aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
>
  <div class="splide__track">
		<ul class="splide__list" id="splide_list_thumb">
			<li class="splide__slide">
				<img src="images/slideshow1.jpeg" alt="">
			</li>
			<li class="splide__slide">
				<img src="images/slideshow2.jpg" alt="">
			</li>
			<li class="splide__slide">
				<img src="images/slideshow3.jpg" alt="">
			</li>
			<li class="splide__slide">
				<img src="images/slideshow4.jpg" alt="">
			</li>
		</ul>
  </div>
</section>
<br><br>
<h1>Onze Locatie</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1249.9066385742435!2d2.8627521531081923!3d51.20409221382027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dca58bad270be7%3A0xe319b5d455665b15!2sCREATIVE%20ART%20AND%20INK!5e0!3m2!1sen!2sbe!4v1676067450687!5m2!1sen!2sbe" width="95%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br><br>
<h1>Contact Shop</h1>
<div class="main-block" id="contactform">
<div class="rounded-border">
<form action="/contactartist" method="POST">
	<div class="col-display">
		<div class="block100"></div>
		<div class="row-display">
			<div class="block50"><h2 class="title-aligned-center">Naam:</h2></div>
			<div class="block50"><h2 class="title-aligned-center">Email:</h2></div>
		</div>
		<div class="row-display">
			<div class="block50"><input type="text" name="clientname" placeholder="Naam" class="input-base-cia"></input></div>
			<div class="block50"><input type="text" name="clientemail" placeholder="Email Address" class="input-base-cia"></input></div>
		</div>
		<div class="block100">
			<h2 class="title-aligned-center">Stel Uw Vraag:</h2>
		</div>
		<div class="block100">
			<textarea name="clientmessage" class="input-base-cia-95" style="height:30vh;" placeholder="Hallo, mijn naam is Steve! Hoe kan ik u helpen? Voor info stel uw vraag en wees zo compleet mogelijk! Ik antwoord zo snel als ik kan."></textarea>
		</div>
		<div class="block100">
			<button type="submit" class="button-cia-100" id="hover"><h2>Submit</h2></button>
		</div>
	</div>
</form>
</div>
</div>
<br><br>
<h3>Mijn Sociale Media:</h3>

<div class="main-block">
<div class="rounded-border">
	<div class="col-display" id="sideways">
		<div class="block30" id="mobilegrote">
			<div class="col-display">
				<div class="block100" id="socials">
					<a href="https://www.facebook.com/people/Creative-art-and-ink/100057428500033/"><img src="images/facebook.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
				</div>
				<div class="block100">
					<a class="mobile-link" href="https://www.facebook.com/people/Creative-art-and-ink/100057428500033/"><h3>Facebook</h3></a>
				</div>
			</div>
		</div>
		<br>
		
		<div class="block30" id="mobilegrote">
			<div class="col-display">
				<div class="block100" id="socials">
					<a href="https://www.instagram.com/creativeartandinkbe/"><img src="images/instagram.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
				</div><div class="block100">
					<a class="mobile-link" href="https://www.instagram.com/creativeartandinkbe/"><h3>Tattoos</h3></a>
				</div>
			</div>
		</div>
		<br>
		<div class="block30" id="mobilegrote">
			<div class="col-display">
				<div class="block100" id="socials">
					<a href="https://www.instagram.com/wavewatcher_be/"><img src="images/instagram2.png" alt="instagramsocialmediacreativeartandinkoostende" class="social-icons"></a>
				</div><div class="block100">
					<a class="mobile-link" href="https://www.instagram.com/wavewatcher_be/"><h3>Drawings & Paintings</h3></a>
				</div>
			</div>
		</div>		
	</div>
</div>
</div>
<br><br>
<%- include("../helpers/bottom") %>

</body>
</html> 
