<!DOCTYPE html><br><br>
<div class="main-block"  style="margin-top:3%;background-color:#000000;">
		<div class="block100" id="bot">
			<h2>Copyright ©<br>All rights reserved.<br><span>Provided by <a href="mailto:illimitedenterprise@gmail.com" style="text-decoration:none;">Illimited&Co</a></span></h2>
		</div>
</div>