<!DOCTYPE html>
<br>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<br><br><br>
  <a class="grote" href="/">Home</a><br>
  <a class="grote" href="/gallery">Gallery</a><br>
  <a class="grote" href="/about">About</a><br>
  <a class="grote" href="/contact">Contact</a><br>
 
</div>

<div id="main">
  <span class="invertedicon" style="font-size:250%;cursor:pointer;" onclick="openNav()">&#9776;</span>
</div>